{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": 2020,
        "babelOptions": {
            "presets": ["babel-preset-vue"]
        }
    },
    "rules": {
        "no-console": "warn",
        "no-debugger": "warn"
    }
}
